@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
}

.polyxgo_bold {
  color: #22a296;
  font-weight: 600;
}

.coupon__item .polyxgo_details li {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

#cps-search-url {
  padding: 0.4rem 0.8rem;
}

.coupon-detail {
  animation: display 0.3s ease;
}

.nav__display {
  transform: translateX(0);
}

.cps-wrap {
  z-index: 0 !important;
}

@keyframes display {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
